section {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto; 
}

body {
      font-family: 'Arial', sans-serif;
      color: #2C2C2C;
      line-height: 26px;
}

header {
display: flex;
justify-content: space-around;
flex-direction: row;
margin-top: 42px;
}  

.navbar{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.navbar a {
    color: #2F281E;
    text-decoration: none;
    font-size: 14px;
}

.buttons {
display: flex;
}

.vit_knapp {
  border-radius: 4px;
  border-color: #BCD0E5;
  color: #173A56;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'poppins';
  font-style: bold;
  font-size: 16px;
}

.orange_knapp{
  background-color: #FF9900;
  border-radius: 4px;
  border-color: #FF9900;
  color: #FFFFFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'poppins';
  font-style: bold;
  font-size: 16px; 
}

button {
   background-color: #FF9900;
   border-radius: 4px;
   border-color: #FF9900;
   color: #FFFFFF;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-family: 'poppins';
   font-style: bold;
   font-size: 16px; 
}

h2 {
   font-size: 36px;
   font-family: 'poppins';
   font-style: bold;
   color: #2F281E;
}

h3 {
   font-size: 18px;
   font-family: 'poppins';
   font-style: normal;
   font-weight: 100;
}

h6 {
font-family: 'poppins';
font-weight: 400;
font-size: 16px;
line-height: 26px;
} 

.feature{
display: flex;
justify-content: space-between;
align-items: center;
}

.hoppande_grupp {
   align-items: flex-end;
}

.superpowers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
    text-align: center;
}


.superpowers-grid {
    display: flex;
    justify-content: center;
    gap: 45px;
    flex-wrap: wrap;
}

.power {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    max-width: 220px;
    text-align: left;
}

.power img {
    width: 50px;
    height: 50px;
}

.product-managers {
   display: flex;
   justify-content: center;
}

.Marketers{
   display: flex;
}

footer {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   align-items: center;
   justify-content: space-between;
}